.container {
  display: flex;
  flex-direction: column;
  gap: 40rem;
  padding: 40rem;
  border: 2px solid #003366;
  border-radius: 20rem;
}

.header {
  display: flex;
  justify-content: space-between;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 14rem;
}

.star {
  height: 60rem;
  width: 60rem;
}

.title {
  font-family: "Poppins", sans-serif;
  font-size: 24rem;
  font-weight: 500;
  line-height: 36rem;
  text-align: left;
  color: #003366;
}

.block {
  display: flex;
  gap: 12rem;
}

.type {
  display: inline-flex;
  padding: 10rem 16rem;
  gap: 8rem;
  align-items: center;
  background-color: #eff3f7;
  border: none;
  border-radius: 45rem;
}

.icon {
  width: 20rem;
}

.typeName {
  font-family: "Roboto", sans-serif;
  font-size: 18rem;
  font-weight: 500;
  line-height: 27rem;
  text-align: left;
  color: #343434;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 16rem;
}

.subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 20rem;
  font-weight: 500;
  line-height: 30rem;
  text-align: left;
  color: #003366;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 18rem;
  font-weight: 500;
  line-height: 27rem;
  text-align: left;
  margin-bottom: 8rem;
}

.text {
  font-family: "Roboto", sans-serif;
  font-size: 18rem;
  font-weight: 400;
  line-height: 27rem;
  text-align: left;
}

.box {
  display: flex;
  align-items: center;
  gap: 16rem;
}

.check {
  width: 24rem;
}

.price {
  display: flex;
  margin-top: 8rem;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 30rem;
  font-weight: 700;
  color: #003366;
  gap: 10px;
}

.divider {
  width: 1px;
  height: 30rem;
  background-color: #003366;
}

.value {
  font-weight: 500;
}

.button {
  width: 216rem;
  color: #fff;
  background-color: #003366;
  padding: 14rem 85rem;
  gap: 10rem;
  border-radius: 14rem;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #041b2a;
  }
}
