.container {
  display: flex;
  padding: 11rem 290rem;
  justify-content: space-between;
  align-items: center;
  height: auto;
}

.logo {
  width: 48rem;
  height: 48rem;
}

.copyright {
  font-family: "Roboto", sans-serif;
  font-size: 16rem;
  font-weight: 400;
  line-height: 24rem;
  text-align: center;
  color: #003366;
}

.wrapper {
  display: flex;
  gap: 48rem;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36rem;
}

.buttons {
  position: relative;
  padding: 5rem 0;
  background: none;
  border: none;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16rem;
  color: black;
}

.buttons:hover,
.buttons:focus {
  color: #003366;
}

.buttons::after {
  position: absolute;
  display: block;
  width: 0;
  height: 2rem;
  content: "";
  background-color: #003366;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.3s ease-in-out;
}

.buttons:hover::after,
.buttons:focus::after {
  width: 100%;
}
