.wrapper {
  display: flex;
  align-items: center;
  gap: 10rem;
}

.arrow {
  width: 40rem;
}

.text {
  color: #343434;
  font-family: "Roboto", sans-serif;
  font-size: 20rem;
  font-weight: 500;
  line-height: 30rem;
  text-align: left;
}